.btn-brown{
	background-color: rgb(151 72 48);
    color: #ffffff;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'ZCOOL XiaoWei';
    font-size: 25px;
}